{% extends "bootstrap/base.html" %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='guinana.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
  <div id="logo-fg">
    <img src="/static/img/bananaslogo.png"/>
  </div>

  <div class="container" id="logo">
      <div class="row">
        <div class="col-md-5 spacer">
        </div>

        <div class="col-md-2 narrative">
            <h1>Guineos</h1>
            <div class="open">
              <p>
                Adentramos nuestra aventura a los panes de guineo con una simple meta: preservar nuestros guineos de manera natural como un rico postre que nos permitiera disfrutarlos por más tiempo y a su vez mantuviera esa dulzura del guineo. En una comunidad con gran sentido de hermandad, nuestros panes de guineo se convirtieron en la estrella del vecindario. Gracias a esto, nuestra pequeña aventura se transformó en un producto que mezcla los sabores locales y que se puede almacenar, enviar y compartir con todo el mundo.
              </p>
              <p> 
                Nuestro pan de guineo tuvo sus principios como muffins, con la idea de venderlos en porciones pequeñas. Luego fue el biscotti, una delicia que se hornea dos veces para darle al pan una textura deliciosa y crujiente. Esta a su vez mantiene la frescura por más tiempo y es más fácil de distribuir. Con el pasar del tiempo, hemos desarrollado nuestra receta, buscando ingredientes locales que pudiésemos incorporar y optando por comprar nuestros ingredientes de agricultores locales.              </p>
              <!-- Ingredients pic -->
              <img src="/static/img/ingredients_edit.png" class="contentimg">
              <p>
                Actualmente, cultivamos nuestros guineos de manera orgánica y natural. Trabajamos nuestra cosecha con amor desde la mata hasta la mesa. Los pasamos de nuestra finca en Adjuntas a nuestro almacén en nuestro hogar para mantenerlos libres de plagas mientras maduran de forma natural. Nuestros métodos son libres de químicos ya que no utilizamos pesticidas ni preservativos. Mezclamos,  horneamos y empacamos, sin rellenos ni aditivos.              </p>
              <!-- Bananas on the line -->
              <img src="/static/img/IMG_20220619_103953.jpg" class="contentimg"> <!-- OK -->
            </div>
        </div>
        
        <div class="col-md-5 spacer">
        </div>
      </div>

      <!-- CACAO -->
      <div class="row">
        <div class="col-md-5 spacer">
        </div>

        <div class="col-md-2 narrative">
            <h1>Cacao</h1>
            <div class="open">
              <p>
                Cuando comenzamos a explorar otros sabores locales, nos alejamos de los chocolate chips de marca y buscamos nibs de cacao de vendedores locales. A través de la experiencia, aprendimos cómo incorporar correctamente los nibs de cacao al pan de guineo para darle un aroma más intenso y chocolatoso, y así decidimos explorar la posibilidad de utilizar nuestro propio cacao.              </p>
              <!-- Cacao processing -->
              <img src="/static/img/20220215_170935.jpg" class="contentimg"> <!-- OK -->
              <p>
                Esto nuevamente se nos dio gracias a la generosidad de nuestra comunidad. Luego del huracán Maria, decidimos sembrar árboles de cacao pero estos aún son muy pequeños para dar fruto. Fue junto a nuestra comunidad que con mucho entusiasmo conocimos el arte de fermentar, secar y tostar. Esperamos en un futuro poder desarrollar nuevas técnicas y tecnologías dentro de la producción del cacao y poder compartirlas  con el resto de la comunidad.
              </p>
              <!-- Cacao growing in pots -->
              <img src="/static/img/IMG_20220619_105755.jpg" class="contentimg"> <!-- OK -->
            </div>
        </div>

        <div class="col-md-5 spacer">
        </div>
      </div>

      <!-- HONEY -->
      <div class="row">
        <div class="col-md-5 spacer">
        </div>

        <div class="col-md-2 narrative">
            <h1>Miel</h1>
            <div class="open">
              <p>
                La miel local está altamente disponible en el área y utilizamos una gran cantidad de miel local de nuestros agricultores apícolas.  Estas abejas están muy bien cuidadas y aportan mucho a la vegetación de Puerto Rico, incluyendo al café, las frutas locales y gran parte de la hermosa flora del bosque tropical.
              </p>
              <!-- Honey bees -->
              <img src="/static/img/20220215_145605.jpg" class="contentimg"> <!-- OK -->
            </div>
        </div>

        <div class="col-md-5 spacer">
        </div>
      </div>

      <!-- VANILLA -->
      <div class="row">
        <div class="col-md-5 spacer">
        </div>

        <div class="col-md-2 narrative">
            <h1>Vainilla</h1>
            <div class="open">
              <p>
                Y dentro del bosque tropical se encuentra la vainilla, una orquídea que florece en climas húmedos. Conocimos agricultores locales y decidimos comprar nuestra vainilla de negocios pequeños dentro del área. Así como el cacao, es un producto que nuestros compañeros agricultores pueden procesar en su finca y producir a un costo más alto para una economía agricultora estable. Esperamos tener vainilla creciendo junto a las plantas de nuestra finca ya que estas se beneficiarían mutuamente y a su vez ayudarían combatir la deforestación a gran escala. Esto es algo que valoramos mucho. La intención de nuestros biscottis es resaltar y preservar la armonía de los distintos sabores locales.
              </p>
            </div>
        </div>

        <div class="col-md-5 spacer">
        </div>
      </div>

      <!-- FUTURE -->
      <div class="row">
        <div class="col-md-5 spacer">
        </div>

        <div class="col-md-2 narrative">
            <h1>Futuro</h1>
            <div class="open">
              <p>
                Nuestra meta es continuar usando la mayor cantidad de ingredientes locales posibles, permanecer flexibles y mantener un enfoque natural y humilde. Mientras expandimos y exploramos sabores nuevos, mantenemos nuestro enfoque en apoyar empresas pequeñas, hasta de aquellos jardines operándose desde el patio de la casa. Las posibilidades que hemos encontrado hasta ahora incluyen comprar mantequilla y harina procesadas localmente. También hemos considerado opciones libre de gluten y bajas en colesterol, tales como la harina panapén y la mantequilla de coco. Varios de estos productos vendrían de empresas dirigidas por mujeres. Tenemos como compromiso mantener nuestros ingredientes naturales y orgánicos, y hornearlos en un biscotti lleno de sabores tropicales.
              </p>
              <p>
                Nuestra meta a largo plazo es crear una facilidad comunitaria de horneo y empaque en el mercado local de mujeres y así aliviar el peso de los requisitos que nos exige el Departamento de Salud para poder expandir a nivel de toda la isla. La demanda está incrementando rápidamente, pues solo se necesita un bocado para estar convencido.
              </p>
              <p>
                ¡Estamos solamente al comienzo de nuestra aventura y nos place que se nos una!
              </p>
              <!-- Something cute with the dogs?? -->
              <img src="/static/img/20220625_115327.jpg" class="contentimg">
            </div>
        </div>

        <div class="col-md-5 spacer">
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{url_for('.static', filename='guinana.js')}}"></script>
{% endblock %}