{% extends "bootstrap/base.html" %}

{% block title %}
Test
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='guinana.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}

  <div class="container vertical-center">
      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8 narrative">
            <h1>Bananas</h1>
            <p class="open">We began our venture into banana bread with a simple goal - to preserve our bananas as a tasty treat that we could put away for longer times but which still carried that sweet banana goodness. In a community with a strong culture of sharing, our banana bread took off in our neighborhood and became a small venture into creating a product that marries local flavors into something that can be stored, shipped and shared with the world.</p>
            <p class="open">Banana bread first became muffins in order to be able to sell small portions, then biscotti, a double baked treat, which can be stored  longer and distributed. The double baking brings a satisfying crunch to the bread. We began finding the right proportions and  the flavors, searching for more local ingredients to incorporate into our recipe, and options to buy these local ingredients flexibly from local growers.</p>
            <p class="open">Right now, the bananas are our own, organic and natural, handled by hand from tree to table. We explore the jungle and the yard to find racimos ready for picking, haul them back home through paths we maintain with chemical free methods, and store them in cabinets we built  to keep them safe from pests and fresh without pesticides or conservatives. They ripen naturally. We mix, bake and package them with no fillers or additives.</p>
        </div>
        
        <div class="col-md-2">
        </div>
      </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{url_for('.static', filename='guinana.js')}}"></script>
{% endblock %}